.full-height{
    height: 100%;
}
.overlay_container{
    color: #002a80;
    box-sizing: border-box;
}
.overlay_container:hover .overlay_item{
    background:#f15656 !important;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.overlay_container:hover .os_item{
    text-shadow: 1px -1px 13px #fff;
    -webkit-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
}
.overlay_container .front{
    background: #35404d;
}
.overlay_container div.back{
    background: #fff;
}
.overlay_row{
    margin-bottom:25px;
}
.overlay_item{
    padding:0 !important;
    height:250px;
    border: 5px solid #273342;
}
.overlay_item .inner_banner{
    position: absolute;
    z-index: 999;
    top: -18%;
    width: 100%;
    background: #f94e4e;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
}
.single_vAlign{
    display: table;
}
.single_vAlign_cell{
    display: table-cell;
    vertical-align: middle;
}
.v_align{
    display: table;
    vertical-align: middle;
}
.overlay_container .v_align .menu_inner_item{
    display: table-cell;
    vertical-align: middle;
}
.overlay_container .v_align .menu_inner_item .list-group{

}
.h_align{
    text-align: center;
}
.list-group .list-group-item:hover{
    background: #35404d;
    color: white
}
.os_item{
    color:white;
    font-size: 20px;
    font-weight: bold;
}

.custom-3{
    width:10%;
}

/*
 * Full menu
 * ----------
 * Styles in this section are very
 * important and you have to implement
 * them if you want for your
 * navigation to work properly.
 *
 */
.full-menu {
    visibility: hidden;
    display: table;
    position: fixed;
    top: 0;
    left: 0%;
    overflow: auto;
    height: 100%;
    width: 100%;
    opacity: 0;
    /*background-color: #35404D;*/
    background-color: #35404df2;
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-transition: all 700ms ease-in-out;
    transition: all 700ms ease-in-out;
}
.full-menu--open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    z-index: 9999;
}
.full-menu--transition {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.full-menu--middle {
    display: table-cell;
    vertical-align: middle;
}
.menu-toggle {
    border: 0;
    color: #fff;
    background-color: transparent;
}
.menu-toggle:before {
    content: '\f0c9';
    font-family: 'FontAwesome';
    margin: 0 20px 0 0;
}
.menu-toggle--close {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 999999;
}
.menu-toggle--close:before {
    content: '\f00d';
    color: #000;
    font-size: 40px;
    margin: 0;
}


.openMenu{
    position: absolute;
    left: 50%;
}
/*.openMenu:hover{*/
    /*-webkit-transform: rotate(-45deg) translate3d(5px, -10px, 0);*/
    /*-moz-transform: rotate(-45deg) translate3d(5px, -10px, 0);*/
    /*-ms-transform: rotate(-45deg) translate3d(5px, -10px, 0);*/
    /*-o-transform: rotate(-45deg) translate3d(5px, -10px, 0);*/
    /*transform: rotate(-45deg) translate3d(5px, -10px, 0);*/
/*}*/


* {
    margin: 0;
    padding: 0;
}

/* animated Menu Icon Class */
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 40px;
    height: 45px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

/* Icon 2 */

#nav-icon2 {
}

#nav-icon2 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    background: #5b6e84;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
    /*top: 0px;*/
    top: 8px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
    top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
    /*top: 36px;*/
    top: 28px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 7px;
}

#nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

#nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 29px;
}

#nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
}
/* animated Menu Icon Class */